[package]
name = "ssimulacra2"
version = "0.2.0"
edition = "2021"
description = "Rust implementation of the SSIMULACRA2 metric"
repository = "https://github.com/rust-av/ssimulacra2"
homepage = "https://github.com/rust-av/ssimulacra2"
documentation = "https://docs.rs/ssimulacra2"
exclude = ["test_data"]
license = "BSD-2-Clause"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aligned = "0.4.1"
anyhow = "1.0.0"
arrayref = "0.3.6"
nalgebra = "0.31.1"
num-traits = "0.2.15"
wide = "0.7.5"
yuvxyb = "0.2.1"

[dev-dependencies]
criterion = "0.4.0"
image = "0.24.4"
rand = "0.8.5"

[[bench]]
name = "benches"
harness = false
