name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  msrv:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      # rust-version from Cargo.toml
      - name: Install Rust 1.65.0
        uses: dtolnay/rust-toolchain@1.65.0
      - name: Use predefined lockfile
        run: mv Cargo.lock.MSRV Cargo.lock
      - name: Build
        run: cargo check

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
